.messages {
  border: 1px solid;
  height: 50%;
  width: 500px;
  margin-bottom: 20px;
  border-radius: 20px;
  display: flex;
  overflow: scroll;
}

.messages span {
  margin: 10px
}

.user {
  width: 500px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}