.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.listaProdotti {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    border: 1px solid;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card ul {
    padding: 0
}

.card li {
    list-style: none;
}