.container {
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.casella {
    border: 1px solid;
    padding: 10px;
    width: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}